<h2>¡¡Bienvenido!!</h2>
    {{#if status}}
        <h4>Usuario Logueado con EXITO!</h4>
    {{else}}
       <br>
       <h4>No estamos logeados.... :(</h4>
    {{/if}}
{{!--     <script>
        setTimeout( () => {
            document.location.href="/api/carrito/63bd83bd348b03dee931022c/productos";
        }, 2000)
    </script> --}}