<!DOCTYPE html>
<head>
    <title>Productos</title>
</head>
<body>
        <li>
            <a href="/formulario">ALTA DE PRODUCTOS</a>
        </li>
    </ul>
    <h2>NO HAY ARTICULOS CARGADOS</h2>
</body>
</html>